html{
    font-size: 62.5%;
}
*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
background: url("./main-bg-whitewhite.svg");
width: 100%;
min-height:100vh;
}
.container{
    margin:0 2em;
}
nav{
    height:10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-right{
    display: flex;
    gap:20px;
    
}
.nav-right i{
    font-size:2.5rem;
    color:#000;
}
header{
    width:100%;
    height:90vh;
    padding-bottom:2em;
    display: grid; 
    grid-template-columns:2fr 1fr 1fr;
    gap:2em; 
    grid-template-areas: 
      "one three four"
      "two three four"; 
}
article{
    
}
.article-one{
    grid-area:one;
    background: url("./fancy-check.png");
  
}
.article-two{
    grid-area:two;
    background: url("./fancy-pink-heart.jpg");

}
.article-three{
    grid-area:three;
    background: url("./fancy-smiley.png");
}
.article-four{
    grid-area:four;
    background: url("./fancy-flower.jpg");
}
.article{
    background-repeat: no-repeat;
    background-size: cover;
}
